# backup stuff
**/*~
**/*bak

# Build Artifacts
/target
*.log
*.pdb
**/*.rs.bk

# Python libraries
**/__pycache__/
**/*.egg-info
dist/
build/

# Eclipse settings stuff
.project

# PyCharm stuff
.idea/

# VSCode stuff
.vscode/
*.code-workspace

# MacOS
.DS_Store
.AppleDouble
.LSOverride

